<div class="col-12 col-md-4 col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-header">
        <%= link_to(note) do %>
          <h3 class="card-title"><%= note.title %></h3>
        <% end %>
        <div class="card-tools">
          <!-- Collapse Button -->
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= link_to 'Show', note, class:"dropdown-item" %>
            <%= link_to 'Edit', edit_note_path(note), class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, class:"dropdown-item" %>
          </div>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <!-- h6 class="card-subtitle mb-2 text-muted">from book <%= link_to(note.book) do %><strong><%= note.book.name %></strong><% end %></h6-->
        <p class="small text-secondary margin-top">
          <%= note.content.to_plain_text.truncate(20) %>
        </p>
      </div>
      <!-- /.card-body -->
      <div class="card-footer small text-muted">
        <!--%= note.updated_at.to_formatted_s(:short) %-->
        <%= time_ago_in_words(note.updated_at) %> ago
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</div>