<div class="large-container center-block">
  <!--p id="notice"><%= notice %></p-->

  <h1>Notes <!--%= link_to '+', new_note_path, class:"badge badge-pill badge-success" %--></h1>
  <div class="row">
    <div class="col-12 text-right mb-2">
      <%= link_to(new_note_path, class:"btn bg-lime") do %>
        <i class="fas fa-plus"></i> add
      <%end%>
      <%= link_to(notes_download_path, class:"btn bg-primary", title:"Download ALL your notes") do %>
        <i class="fas fa-download"></i>
      <%end%>
    </div>
  </div>
  <div class="row">
    <% unless @notes.blank? %>
      <%= render @notes %>
    <%else%>
      There is nothing here yet.
    <%end%>
  </div>
  <!--hr>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Book</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.title %></td>
          <td><%= note.book_id %></td>
          <td><%= link_to 'Show', note %></td>
          <td><%= link_to 'Edit', edit_note_path(note) %></td>
          <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Note', new_note_path, class:"btn btn-sm btn-outline-success" %-->
</div>
