<div class="small-container center-block">
  <p id="notice"><%= notice %></p>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= @note.book.name %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @note.title %></li>
    </ol>
  </nav>

  <h1>
    <strong>Title:</strong>
    <%= @note.title %>
  </h1>
  <h6 class="text-secondary">
    <em>from book:</em>
    <%= @note.book.name %>
  </h6>
  
  <div class="card">
    <div class="card-body">
        <%= @note.content %>
    </div>
    <div class="card-footer small text-muted text-right p-1">
        created: <%= @note.created_at %>
        <% if @note.updated_at%>
          | updated: <%= @note.updated_at %>
        <% end %>
    </div>
  </div>
  <div class="text-right">
  <%= link_to(note_path(format: "pdf"), class:"btn btn-sm btn-outline-primary",
      title: 'View PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom') do %>
    <i class="fas fa-file-pdf"></i>
  <%end%>
  <%= link_to(note_download_path, class:"btn btn-sm btn-outline-primary",
      title: 'Download PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom') do %>
    <i class="fas fa-download"></i>
  <%end%>
  <%= link_to(edit_note_path(@note), class:"btn btn-sm btn-outline-warning",
      title: 'Edit note', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom') do %>
    <i class="fas fa-pencil-alt"></i>
  <%end%>
  <%= link_to(note_path, method: :delete,
      data: { confirm: 'Are you sure? This cannot be undone!' }, class:"btn btn-sm btn-outline-danger",
      title: 'Delete note', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom') do %>
    <i class="far fa-trash-alt"></i>
  <%end%>
  |
  <%= link_to 'Back', notes_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
</div>
