<div class="small-container center-block">
  <p id="notice"><%= notice %></p>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= @note.book.name %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @note.title %></li>
    </ol>
  </nav>

  <h1>
    <strong>Title:</strong>
    <%= @note.title %>
  </h1>
  <h6 class="text-secondary">
    <em>from book:</em>
    <%= @note.book.name %>
  </h6>
  <p class="small text-secondary"> 
    created: <%= @note.created_at %>
    <% if @note.updated_at%>
      | updated: <%= @note.updated_at %>
    <% end %>
  </p>
  
  <div class="card">
    <div class="card-body">
      <%=@note.content %>
    </div>
  </div>

  <%= link_to "PDF", note_path(format: "pdf"), class:"btn btn-sm btn-outline-primary", title: 'View PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'%>
  <%= link_to "PDF2", note_download_path, class:"btn btn-sm btn-outline-primary", title: 'View PDF', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'%>
  <%= link_to 'Edit', edit_note_path(@note), class:"btn btn-sm btn-outline-warning" %>
  <%= link_to 'Delete', @note, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-danger" %> |
  <%= link_to 'Back', notes_path, class:"btn btn-sm btn-outline-secondary" %>
  <%
=begin%>
 <%= link_to 'DW', download_note_path(@note), class:"btn btn-sm btn-outline-primary" %> 
<%
=end%>
</div>
