<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link text-center">
    <%= image_tag "logo.png", class:"brand-image img-circle elevation-3", alt:"RN Logo", style:"opacity: .8" %>
    <span class="brand-text font-weight-light">RubyNotes</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <%if user_signed_in?%>
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag "user2-160x160.jpg", class:"img-circle elevation-2", alt:"User Image" %>
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_user.email %></a>
        </div>
      </div>
    <%end%> <!-- /.if user_signed_in? -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <%if user_signed_in?%>
          <li class="nav-item">
            <%= link_to(new_note_path, class:"nav-link bg-lime") do %>
              <i class="nav-icon fas fa-plus"></i>
              <p>
                New Note
              </p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to(notes_path, class:"nav-link") do %>
              <i class="nav-icon fas fa-file-alt"></i>
              <p>
                All Notes
                <span class="right badge badge-danger"><%= current_user.notes.count %></span>
              </p>
            <%end%>
          </li>
          <li class="nav-item has-treeview">
            <!--sacar link no hace nada-->
            <%= link_to(books_path, class:"nav-link") do %>
              <i class="nav-icon fas fa-book"></i>
              <p>
                Books
                <i class="right fas fa-angle-left"></i>
              </p>
            <%end%>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to(new_book_path, class:"nav-link bg-lime") do %>
                  <i class="nav-icon fas fa-book-medical"></i>
                  <p>
                    New Book
                  </p>
                <%end%>
              </li>
              <li class="nav-item">
                <%= link_to(books_path, class:"nav-link") do %>
                  <i class="nav-icon fas fa-book"></i>
                  <p>
                    All Books
                    <span class="right badge badge-danger"><%= current_user.books.count %></span>
                  </p>
                <%end%>
              </li>
              <% current_user.books.each do |book| %>
                <li class="nav-item">
                  <%= link_to(book, class:"nav-link") do %>
                    <i class="fas fa-book-open nav-icon"></i>
                    <p><%= book.name %></p>
                  <%end%>
                </li>
              <%end%>
            </ul>
          </li>
        <%else%> <!-- /.if user_signed_in? -->
          <li class="nav-item">
            <%= link_to(new_user_session_path, class:"btn btn-block bg-primary") do %>
              <i class="nav-icon fas fa-sign-in-alt"></i> Login
            <%end%>
          </li>
          <li class="nav-item mt-2">
            <%= link_to(new_user_registration_path, class:"btn btn-block bg-lime") do %>
              <i class="nav-icon fas fa-user-plus"></i> Sign Up
            <%end%>
          </li>
        <%end%> <!-- /.if user_signed_in? -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!--script>
  var url = window.location;

  // for sidebar menu entirely but not cover treeview
  $('ul.sidebar-menu a').filter(function() {
    return this.href == url;
  }).parent().addClass('active');

  // for treeview
  $('ul.treeview-menu a').filter(function() {
    return this.href == url;
  }).parentsUntil(".sidebar-menu > .treeview-menu").addClass('active');
</script-->