<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Books</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <div class="float-sm-right">
          <%= link_to(new_book_path, class:"btn bg-lime", title:"Add a new book") do %>
            <i class="fas fa-plus"></i> add
          <%end%>
        </div><!-- /.float -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="content container-fluid">
  <div class="container-fluid">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Name</th>
          <th># Notes</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.name %></td>
            <td><%= book.notes.size %></td>
            <td><%= book.created_at %></td>
            <td><%= book.updated_at %></td>
            <td>
              <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <%= link_to 'Show', book, class:"dropdown-item" %>
                <%= link_to 'Edit', edit_book_path(book), class:"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>